/* .input-stack {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stack-input {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* InputStack.css */
.input-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-input {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
